<div class="row" ng-controller="EmprestimoCtrl" ng-init="getObras()">
    <div class="col-12">
        <h1 class="main-title">Criar Nova Obra</h1>
    </div>

    <div class="col-4 form-group">
        <label>RG</label>
        <input type="text" class="form-control" ng-blur="getPessoa(emprestimo.rgPessoa)" ng-model="emprestimo.rgPessoa" placeholder="Digite RG.Exemplo: MG17234899">
    </div>

    <div class="col-8 form-group">
        <label>Nome</label>
        <input class="form-control" ng-disabled="isDisabled" ng-model="emprestimo.nomePessoa"></input>
    </div>

    <div class="col-7 form-group">
        <label>Obra</label>
        <select class="form-control" ng-model="emprestimo.idObra" ng-options="obra.id_Obra as obra.titulo for obra in listaObra"></select>
    </div>

    <div class="col-6"></div>

    <div class="col-12 text-right">
        <button class="btn btn-danger btn-round" ng-click="closeThisDialog(false)">
            Cancelar
        </button>

        <button class="btn btn-success btn-round" ng-click="adicionarEmprestimo(emprestimo)">
            Adicionar
        </button>
    </div>
</div>