<div class="row" ng-controller="EmprestimoCtrl">
    <div class="col-12">
        <h1 class="main-title">Criar Nova Obra</h1>
    </div>

    <div class="col-7 form-group">
        <label>RG</label>
        <input type="text" class="form-control" ng-model="emprestimo.rgPessoa" placeholder="Digite o número do RG. Exemplo: MG17234899">
    </div>

    <div class="col-5 form-group">
        <label>Nome</label>
        <input class="form-control" ng-model="emprestimo.nomePessoa" placeholder="Nome da Pessoa. Exemplo: Machado de Assis" ></input>
    </div>

    <div class="col-5 form-group">
        <label>ID Pessoa</label>
        <input class="form-control" ng-model="emprestimo.idPessoa" placeholder="Nome da Pessoa. Exemplo: Machado de Assis"></input>
    </div>

    <div class="col-6 form-group">
        <label>Obra</label>
        <input type="text" class="form-control" ng-model="emprestimo.idObra" placeholder="ID da obra">
    </div>

    

    <div class="col-6"></div>

    <div class="col-12 text-right">
        <button class="btn btn-danger btn-round" ng-click="closeThisDialog(false)">
            Cancelar
        </button>

        <button class="btn btn-success btn-round" ng-click="adicionarEmprestimo(emprestimo)">
            Adicionar
        </button>
    </div>
</div>